/* Add your existing SCSS code here */

* {
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}
body {
  margin-left: 40px;
  margin-right: 40px;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.box.show {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: 100%;
 
  .primary-header {

    width: 100%;
    padding: 5px;
    margin: auto;
   
  
    .social-links {
      display: flex;
      flex-direction: row;
      
     
      a {
        img {
          width: 30px;
          margin-left: 15px;
          transition: transform 0.5s ease;
          &:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  .main-container{
   
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    

.sub-box-1{

  display: flex;
  flex-direction: column;
  gap: 5px;

.box-1{
  display: flex;
  flex-direction:row;
  gap: 7px;
.box-profile {
  width: 60%;
  height: auto;
  border-radius: 2px;
 background-color:#755cde;
  
}

  .main-sidebox{
    width: 39%;
    
    display: flex;
    flex-direction: column;
    gap: 5px;

    .side-box-2{
      border-radius: 2px;
      background-color:#ea7564 ;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.6rem; 
      text-align: center;
      padding: 5px;
      ul {
        list-style: none;
      }
    }
  
  .side-box {
   width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    background-color: #f39d9e;
    padding-left: 10px;
    padding-right: 10px;
    gap: 7px;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 4px;
      background-color: #ffffff5c;
      border-radius: 2px;
      padding: 5px;
      .side-box-image {
        width: 20px;
        transition: transform 0.3s ease-in-out;
      }

      #dialux-logo {
        width: 15px;
        height: 15px;
      }

      .side-box-image:hover {
        transform: scale(1.1);
      }

    }
  
  }
}
}

.box-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 2;
  background-color:#63c4b4 ;
  padding: 10px 20px;
  border-radius: 2px;
  color:#ffffff;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
  
  
  div {
    text-align: center;
  }
  p{
    
    font-size: 0.9rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
    
    #cv-button {
      width: 150px;
      height: 40px;
      text-align: center;
      background-color: #d29447;
      display: inline-block;
      padding: 8px 20px;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #d18426;
      }
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    #contact-button {
      height: 40px;
      width: 150px;
      text-align: center;
      background-color: #b75957;
      display: inline-block;
      padding: 8px 20px;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #b54240;
      }
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

}

.sub-box-2{

 
 
  display: flex;
        justify-content: space-between;
      flex-direction: column;
      width: 100%;
       min-width: 400px;
       text-align: center;
       color: #ffffff;
       gap: 5px;
     
       
       #leftColumn{
        width: 100%;
       background-color: #a1a1a1;
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        padding-top: 10px;
        padding-bottom: 10px;
   

  }
  #rightColumn{
    width: 100%;
    list-style: none;
    background-color: #a1a1a1;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    

  }
}

}

.projects-section {
  
  h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin-top: 40px;
    color: #ffffff;
    font-size: 1.4rem;
  }
 
 border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
  .project {
    padding: 20px;
    img {
      width: 70%;
      border-radius: 5px;
    }
    .project-image {
      transition: transform 0.3s ease-in-out;
    }
    .project-image:hover {
      transform: scale(1.1);
    }
    .project-link:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.399);
    }
  }
}


footer {
  height: 50px;
  background-color: #464545;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
}

@media (min-width: 600px) {
  body {
    margin-left: 100px;
    margin-right: 100px;
  }

  .container{
  .main-container {

     .sub-box-1{
    flex-direction: row;
    justify-content: space-between;
    
    .box-1 {

     width: 40%;
     flex-direction: column;
     min-width: 200px;
    
    
     
     .box-profile {
      width: 100%;
      height: 200px;
      
     }
       
     .main-sidebox{
      width: 100%;
          flex-direction: row; 
          border: 1px solid black;
          .side-box {
            min-width: 50%;
           
            flex-direction: column;
            gap: 10px;
            div {
              img, #dialux-logo {
                width: 30px;
              }
            }
          }

          .side-box-2{
            width: 50%;
          }
      }

     }
    .box-text {
      font-size: 0.9rem;
     
      min-width: 200px;
    }
      }

      .sub-box-2{
       
        width: 100%;
       min-width: 400px;
flex-direction: row;
     
  
       }
}
  
  .projects-section {
    .project {
      img {
        width: 50%;
        border: 1px solid rgb(255, 255, 255);
      }
    }
  }

}



}

