/* Add your existing CSS code here */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-left: 40px;
  margin-right: 40px;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.primary-header {
  height: 50px;
  margin-bottom: 5px;
}
.primary-header .social-links {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.primary-header .social-links a img {
  width: 30px;
  margin-left: 15px;
  transition: transform 0.5s ease;
}
.primary-header .social-links a img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.column-one {
  flex-grow: 2;
  background-color: rgba(69, 158, 172, 0.8352941176);
  padding: 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.column-one div {
  text-align: center;
  margin-top: 20px;
}
.column-one #cv-button {
  width: 150px;
  text-align: center;
  background-color: #d29447;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column-one #cv-button:hover {
  background-color: #d18426;
}
.column-one #contact-button {
  width: 150px;
  text-align: center;
  background-color: #b75957;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column-one #contact-button:hover {
  background-color: #b54240;
}

.column-two {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}
.column-two #profile-image {
  border-radius: 5px;
  background-color: rgba(210, 148, 71, 0.937254902);
}
.column-two #profile-image img {
  width: 100%;
}
.column-two .side-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-radius: 5px;
  background-color: hsla(1, 40%, 53%, 0.922);
  padding-left: 10px;
  padding-right: 10px;
}
.column-two .side-box div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1px;
  background-color: rgba(213, 206, 206, 0.6039215686);
  border-radius: 5px;
  padding: 10px;
}
.column-two .side-box .side-box-image {
  width: 25px;
  transition: transform 0.3s ease-in-out;
}
.column-two .side-box .logo-small {
  width: 60px;
}
.column-two .side-box #dialux-logo {
  width: 15px;
  height: 20px;
}
.column-two .side-box .side-box-image:hover {
  transform: scale(1.1);
}

.projects-section {
  background-color: rgba(201, 200, 198, 0.5215686275);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
}
.projects-section h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  margin-top: 20px;
  color: #464545;
  font-size: 1rem;
}
.projects-section .project {
  padding: 20px;
}
.projects-section .project img {
  width: 50%;
  border-radius: 5px;
}
.projects-section .project .project-image {
  transition: transform 0.3s ease-in-out;
}
.projects-section .project .project-image:hover {
  transform: scale(1.1);
}
.projects-section .project .project-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.399);
}

@media (min-width: 50em) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
  body .main-container {
    display: flex;
    flex-direction: row;
  }
  body .main-container .column-one {
    width: 40%;
    font-size: 0.9rem;
  }
  body .main-container .column-two {
    width: 40%;
    flex-direction: column;
  }
  body .main-container .column-two .side-box {
    flex-direction: column;
    gap: 20px;
  }
  body .projects-section .project img {
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
  }
}
footer {
  height: 50px;
  background-color: #464545;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}/*# sourceMappingURL=style.css.map */